<!-- Extension del template padre-->
{% extends "AppCoder/padre.html" %} 
<!-- Cargo statics -->
{% load static %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block titulo %} ESTE ES UN FORMULARIO DE CARGA DE CURSOS {% endblock %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block contenido_que_cambia %}
    <h2> FORMULARIO </h2>
    <!-- Va a la url del action cursoFormulario cuando aprieto en submit por metodo post. Tambien
    envio un token de seguriada para la comunicacion cliente servidor-->
    <form action= "{% url 'cursos' %}" method="POST"> {% csrf_token %}

       <!-- Creaacion de formulario manual
        <input type="number" name="comision"  id="comision" placeholder="Inserte Comision">
        <input type="text" name="nombre" id="nombre" placeholder="Inserte Nombre"> -->

        <!-- Creacion de formulario por django, incluye validaciones de campos -->
        {{formulario.as_p}}  <!-- as_p de tipo parrafo -->
        <input type="submit" value="GUARDAR CURSO">

    </form>

    <h3> {{mensaje}} </h3>

{% endblock %}
