<!-- Extension del template padre-->
{% extends "AppCoder/padre.html" %} 
<!-- Cargo statics -->
{% load static %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block titulo %} Editando Profesor: {% endblock %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block contenido_que_cambia %}
    <h1> Editar Profesor: {{ profesor}}</h1>
    <!-- <ul>
    {% for profe in profes %}
    <li>{{profe.nombre}} - {{profe.apellido}}</li>
    </ul>
    {% endfor %}-->
    <h3>{{mensaje}}</h3>
    <form action="{% url 'editarProfesor' profesor.id %}" method="POST"> {% csrf_token %}
        <table>
            <!-- uso el nombre de la clave del diccionario que devolvi en la vista profesores-->
            {{formulario.as_table}}
        </table>
        <input type="submit" value = "Guardar cambios">
    </form>
   
{% endblock %}
