<!-- Extension del template padre-->
{% extends "AppCoder/padre.html" %} 
<!-- Cargo statics -->
{% load static %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block titulo %} ESTA ES LA PAGINA DE PROFESORES {% endblock %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block contenido_que_cambia %}
    <h1> PROFESORES</h1>
    <!-- <ul>
    {% for profe in profes %}
    <li>{{profe.nombre}} - {{profe.apellido}}</li>
    </ul>
    {% endfor %}-->
    <form action="{% url 'profesores' %}" method="POST"> {% csrf_token %}
        <table>
            <!-- uso el nombre de la clave del diccionario que devolvi en la vista profesores-->
            {{formulario.as_table}}
        </table>
        <input type="submit" value = "Agregar">
    </form>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Profesion</th>
                <th>Opciones</th>
            </tr>
        </thead>

            {% for profesor in profesores %}
            <tr>
                <td>
                    {{profesor.nombre}}
                </td>
                <td>
                    {{profesor.apellido}}
                </td>
                <td>
                    {{profesor.emails}}
                </td>
                <td>
                    {{profesor.profesion}}
                </td>
                <td>
                    <a class="btn btn-danger" href="{% url 'eliminarProfesor' profesor.id %}">Eliminar</a>
                    <a class="btn btn-success" href="{% url 'editarProfesor' profesor.id %}">Editar</a>

                </td>
            </tr>
            {% endfor %}

    <h3> {{mensaje}} </h3>
{% endblock %}
